@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background: e8e8e8e8;
    font-family: Arial, Helvetica;
}
:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --github: #092327;
}
.menu{
   list-style: none;
   padding: 1000;
   background: #092327;
   width: 100%;
   max-width: 1550px;
   margin:auto;
}
.menu  li{
   display: inline-block;
   text-align: center;
}
.menu li a:hover{
    background: #ef8354;
}
.menu li a{
   text-decoration: none;
   color: white;
   padding: 30px;
   display: block;
}
.perfil{
    width: 100%;
    height: 500px;
    background-image:url(imagenes/fotoport.jpg) ;
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5); 
    background-blend-mode: darken;
}
/*--pie de pagina--*/
.pie-pagina{
width: 100%;
background-color: #0a141d;
}
.pie-pagina .grupo-1{
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
   font-size: 20px; 
}
.pie-pagina .grupo-1 .box{
    color: #efefef;
    margin-bottom: 10px;
}
.redes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}
.redes ul:hover a{
    filter: blur(2px);
}
.redes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes ul li .facebook:hover{
    background: var(--facebook);
}
.redes ul li .instagram:hover{
    background: var(--instagram);
}
.redes ul li .github:hover{
    background: var(--github);
}